/*	ACCORDION */
.accrodation {
  width: 100%;
}

.acc-trigger {
  cursor: pointer;
  display: block;
  margin: 0 0 0 0;
  width: 100%;
}

.acc-trigger:last-of-type,
.acc-container:last-of-type {
  margin-bottom: 20px;
}

.no-js .acc-trigger:last-of-type {
  border-bottom: none;
}

.acc-trigger a {
  background: url(../../images/accordion-ico5.png) no-repeat 14px 13px;
  display: block;
  padding: 11px 20px 11px 44px;
  text-decoration: none;
  text-shadow: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #727272;
  border: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin: 6px 0 0 0;
}

.acc-trigger a:hover {
  background-position: 14px -58px;
}

.acc-trigger a:hover,
.acc-trigger.active a,
.acc-trigger.active a:hover {
  color: goldenrod;
  border-bottom: 1px solid #d9d9d9;
}

.acc-trigger.active a:hover {
  background-color: transparent;
}

.acc-trigger.active {
  cursor: default;
  background: #fff;
  color: goldenrod;
}

.acc-trigger.active:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.acc-trigger.active a {
  background-position: 14px -58px;
  cursor: default;
}

.acc-container .content {
  padding: 15px;
  color: #999;
  margin-bottom: 4px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-top: 0px solid #e3e3e3;
}





/*	ACCORDION02 */
.accrodation02 {
  width: 100%;
}

.acc-trigger02 {
  cursor: pointer;
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  margin-bottom: 15px;
}

.acc-trigger02:last-of-type,
.acc-container02:last-of-type {
  margin-bottom: 20px;
}

.no-js .acc-trigger02:last-of-type {
  border-bottom: none;
}

.acc-trigger02 a {
  background: url(../../images/accordion-ico2.html) no-repeat 20px 13px;
  display: block;
  padding: 11px 20px 11px 50px;
  text-decoration: none;
  text-shadow: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #545454;
  border: 1px solid #d9d9d9;
  border-radius: 35px;
}

.acc-trigger02 a:hover {
  color: #000;
}

.acc-trigger02 a:hover,
.acc-trigger02.active a,
.acc-trigger02.active a:hover {
  color: #161616;
  background-color: goldenrod;
  border: 1px solid goldenrod;
}

.acc-trigger02.active a:hover {
  background-color: transparent;
}

.acc-trigger02.active {
  cursor: default;
  background: #fff;
  color: goldenrod;
}

.acc-trigger02.active:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.acc-trigger02.active a {
  background-position: 20px -58px;
  cursor: default;
  color: #fff;
  background-color: goldenrod;
  border: 1px solid goldenrod;
}

.acc-container02 .content {
  padding: 0px 14px 15px 22px;
  color: #999;
  margin-bottom: 4px;
  background-color: #fff;
}

.accrodation02 h1 {
  text-align: center;
}



/*	ACCORDION03 */
.accrodation03 {
  width: 100%;
}

.acc-trigger03 {
  cursor: pointer;
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  margin-bottom: 15px;
}

.acc-trigger03:last-of-type,
.acc-container03:last-of-type {
  margin-bottom: 20px;
}

.no-js .acc-trigger03:last-of-type {
  border-bottom: none;
}

.acc-trigger03 a {
  background: url(../../images/accordion-ico3.html) no-repeat 20px 17px;
  display: block;
  padding: 15px 20px 15px 50px;
  text-decoration: none;
  text-shadow: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #b5b5b5;
  background-color: #575757;
  box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.3);
}

.acc-trigger03 a:hover {
  color: #000;
}

.acc-trigger03 a:hover,
.acc-trigger03.active a,
.acc-trigger03.active a:hover {
  color: #161616;
  background-color: #fdce16;
}

.acc-trigger03.active a:hover {
  background-color: #fdce16;
}

.acc-trigger03.active {
  cursor: default;
  color: #161616;
}

.acc-trigger03.active:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.acc-trigger03.active a {
  background-position: 20px -58px;
  cursor: default;
  color: #161616;
}

.acc-container03 .content {
  padding: 30px 0px 30px 0px;
  color: #999;
  margin-bottom: 4px;
}

.accrodation03 h1 {
  text-align: center;
}




/*	ACCORDION04 */
.accrodation04 {
  width: 100%;
}

.acc-trigger04 {
  cursor: pointer;
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  margin-bottom: 15px;
}

.acc-trigger04:last-of-type,
.acc-container04:last-of-type {
  margin-bottom: 20px;
}

.no-js .acc-trigger04:last-of-type {
  border-bottom: none;
}

.acc-trigger04 a {
  background: url(../../images/accordion-ico4.html) no-repeat 20px 17px;
  display: block;
  padding: 15px 20px 15px 50px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #161616;
  border: 1px solid #d9d9d9;
}

.acc-trigger04 a:hover {
  color: #000;
}

.acc-trigger04 a:hover,
.acc-trigger04.active a,
.acc-trigger04.active a:hover {
  color: #161616;
  background-color: #fdce16;
  border: 1px solid #fdce16;
}

.acc-trigger04.active a:hover {
  background-color: #fdce16;
}

.acc-trigger04.active {
  cursor: default;
  color: #161616;
}

.acc-trigger04.active:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.acc-trigger04.active a {
  background-position: 20px -58px;
  cursor: default;
  color: #161616;
}

.acc-container04 .content {
  padding: 30px 0px 30px 0px;
  color: #999;
  margin-bottom: 4px;
}

.accrodation04 h1 {
  text-align: center;
}





/*	ACCORDION05 */
.accrodation05 {
  width: 100%;
}

.acc-trigger05 {
  cursor: pointer;
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  margin-bottom: 15px;
}

.acc-trigger05:last-of-type,
.acc-container05:last-of-type {
  margin-bottom: 20px;
}

.no-js .acc-trigger05:last-of-type {
  border-bottom: none;
}

.acc-trigger05 a {
  background: url(../../images/accordion-ico5.png) no-repeat 20px 17px;
  display: block;
  padding: 10px 20px 10px 50px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  color: #161616;
  border: 1px solid #d9d9d9;
}

.acc-trigger05 a:hover {
  color: #000;
}

.acc-trigger05 a:hover,
.acc-trigger05.active a,
.acc-trigger05.active a:hover {
  color: #fdce16;
  border: 1px solid #fdce16;
}

.acc-trigger05.active a:hover {
  background-color: #fff;
}

.acc-trigger05.active {
  cursor: default;
  color: #161616;
}

.acc-trigger05.active:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.acc-trigger05.active a {
  background-position: 20px -58px;
  cursor: default;
  color: #fdce16;
}

.acc-container05 .content {
  padding: 16px 0px 28px 0px;
  color: #999;
  margin-bottom: 4px;
}

.accrodation05 h1 {
  text-align: center;
}