/*-------------------------------------------------------
	
--------------------------------------------------------*/
.s__top_nav .left a {
    margin-left: 14px;
}

.s__top_nav .right {
    width: auto;
    float: right;
}

.s__top_nav .right .country_selector {
    width: auto;
    margin-right: 0;
}

.s__top_nav .right a i {
    color: #fff !important;
}

.s__top_nav .right a:hover {
    color: #2e2e2e;
}

.s__top_nav .right a {
    padding-top: 3px !important;
}

.s__stats {
    text-align: center;
    background: url(../images/parallax_bg3.jpg);
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;
}

.s__stats .one_fourth {
    width: 16.66666666666%;
    margin: 0;
}

.s__stats .icon {
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    font-size: 50px;
    line-height: 97px;
    color: #fff;
    border-radius: 100%;
    margin: 0px auto 15px auto;
    border: 1px solid #fff;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

}

.s__stats .one_fourth:hover .icon {

    border: 1px solid #fff;
    background-color: #161616;
}

.s__stats p {
    font-size: 25px;
}

.s__section_holder1 {
    z-index: 99;
    position: relative;
}

.s__section_holder1 h1 {
    font-size: 30px;
}

.s__section_holder1 .box {
    padding-left: 20px;
    padding-right: 20px;
}

.s__section_holder1 .s__homeimg {
    width: 50%;
    max-width: 156px;
    margin: 20px auto 0 auto;
    background-size: cover !important;
}

.s__section_holder1 .s__homeimg img {
    width: 100%;
    display: block;
}

/*
.s__section_holder2 {
   margin-top: -155px;
}
*/

.s__section_holder2 .price_table .price {
    font-size: 50px;
}

.s__section_holder2 .price_table .price sup {
    font-size: 18px;
}

.s__section_holder3 .section_title,
.s__section_holder3 .section_subtext {
    width: 50%;
}

.s__section_holder3 .right ul.list li {
    display: block;
    float: none;
}

.s__section_holder3 .s__section_holder3_grey {
    font-size: 40px;
}

.s__section_holder3 .s__calculate_profit {
    padding-top: 34px;
}

.s__section_holder3 .s__calculate_profit,
.s__section_holder3 .s__calculate_profit input,
.s__section_holder3 .s__calculate_profit select {
    text-align: center !important;
}

.s__section_holder3 .s__calculate_profit input,
.s__section_holder3 .s__calculate_profit select {
    font-size: 30px;
    line-height: 1.6;
    height: auto;
    margin: 0 0 12px 0;
}

.s__section_holder3 .s__calculate_profit select {
    width: 100%;
    padding: 0px 20px;

    padding-right: 18px;
    appearance: normal;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: #fff url(../images/s__select-1.png) no-repeat center right 5px !important;
    cursor: pointer;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.s__section_holder3 .s__calculate_profit #s__calculate_profit_but {
    display: inline-block;
    float: none;
}

.s__section_holder3 .s__section_holder3_amount {
    margin-top: 28px;
    padding: 15px 40px 0 10px;
    border-top: 1px solid #e7e7e7;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.s__section_holder4 h1 div {
    padding-top: 14px;
}

.s__section_holder4 ul li a {
    cursor: text !important;
}

.s__section_holder5 .section_title,
.s__section_holder5 .section_subtext {
    width: 50%;
}

.s__section_holder5_ru .section_title .big {
    font-size: 60px;
}

.s__section_holder6 {
    padding-bottom: 120px;
}

.s__section_holder7 {
    padding-top: 80px;

    background: url(../images/parallax_bg12-1.jpg);
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;

    border-top: 6px solid #fff;
}

.s__section_holder7 .two_third {
    margin: 0 auto !important;
    float: none;
}

.s__section_holder7 .left * {
    text-align: right;
}

.s__section_holder7 .right * {
    text-align: left;
}

.s__section_holder7 table {
    border: 1px solid #161616;
}

.s__section_holder7 .amount {
    width: 140px;
}

.s__section_holder7 .amount span {
    /* display: block; */
}

.s__section_holder7 .s__section_holder7_stars {
    font-weight: 900;
    color: #302b47;
}

.am18,
.am43,
.am48,
.am68,
.am69,
.am71,
.am77,
.am79,
.am80 {
    display: inline-block;
    color: #fff;
    background: #000;
    width: 120px;
    text-align: center !important;
    font-size: 12px;
    text-transform: uppercase;

    border-radius: 3px;
}

.am18 {
    background: #DC3219;
}

.am43 {
    background: #3598DB;
}

.am48 {
    background: #F7931A;
}

.am68 {
    background: #394752;
}

.am69 {
    background: #8C8C8C;
}

.am71 {
    background: #008CE3;
}

.am77 {
    background: #4CC947;
}

.am79 {
    background: #BA9F33;
}

.am80 {
    background: #041D6F;
}

.am_s1 {
    width: 100%;
}

.am_td-1>div {

    width: 33.3333333%;
    float: left;
    padding: 4px;
}

.s__footer_payment_types {
    text-align: center;
}

.s__footer_payment_types .payment_logos {
    width: auto;
    overflow: hidden;
    display: inline-block;
    float: none;
}

.s__footer_payment_types .payment_logos li img {
    display: block;
    margin-top: 9px;
    border-radius: 3px;
}

.s__copyrights a {
    font-weight: 900;
    color: #fff;
}

.s__copyrights a:hover {
    color: #858585;
}

.s__footer1 {
    padding: 0;
}

.s__footer1.s__footer1-1 {
    margin-top: 100px;
}

.s__footer1 .social_links {
    margin-bottom: 10px;
    margin-top: -190px;
    /* background: #fff url(../images/site-img20.png) center top no-repeat; */
}

.s__header_medium {
    margin-bottom: 70px;
}

.s__header_medium .bigtext {
    font-size: 62px !important;
    padding-top: 105px !important;
}

.s__news .divider_line {
    width: 95%;
    height: 1px;
    margin: 40px auto;
    padding: 0px;
    border: none;
    background-color: #e7e7e7;
}

.s__google_map {
    top: -64px;
    position: relative;
}

.s__google_map .s__google_map_a {
    text-align: center;
}

.s__google_map .s__google_map_a a {
    color: #302b47;
}

.s__google_map .s__google_map_a a:hover {
    color: #161616;
}

.alert {
    position: relative;
    padding: 20px 60px;
}

.alert>i,
.alert>a {
    display: block;
    position: absolute;
    top: 20px;
}

.alert>i {
    left: 20px;
    top: 24px;
}

.alert i {
    color: #fff;
}

.alert>a {
    right: 20px;
}

.alert ul {
    display: inline-block;
    margin: 0;
}

.alert ul li {
    color: #fff !important;
}

.alert>span a {
    font-weight: 900;
    color: #fff !important;
}

.alert>span a:hover {
    color: #2e2e2e !important;
}

.s__section_holder9_46rgfs {
    margin-bottom: -100px;
}

.s__button-secondary_left {
    margin: 0 0 0 10px !important;
}

.c__section_holder_all {
    position: relative;
    z-index: 9;
}

.s__section_holder6 .why_choose_img .img {
    background: url(../images/s__why_choose-1.jpg) 0 0 no-repeat;
}

.s__section_holder6 .why_choose_img .img.two {
    background: url(../images/s__why_choose-2.jpg) 0 0 no-repeat;
}

.s__section_holder6 .why_choose_img .img.three {
    background: url(../images/s__why_choose-3.jpg) 0 0 no-repeat;
}

.s__section_holder6 .why_choose_img .img.four {
    background: url(../images/s__why_choose-4.jpg) 0 0 no-repeat;
}

.s__section_holder6 .why_choose_img .img.five {
    background: url(../images/site-img8.jpg) 0 0 no-repeat;
}

/* .s__logo #logo { */
#trueHeader #logo {
    min-height: 46px;
    background: url(../images/s__logo.png) no-repeat left bottom;
}

.s__accout_content {
    float: none;
    margin: 0 auto;
}

.s__accout_content *,
.s__accout_content *:before,
.s__accout_content *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.s__accout_content .login_form {
    width: 100%;
}

.s__accout_content table {
    background-color: #fff;
    margin-bottom: 20px !important;
    width: 100%;
}

.s__accout_content table tr {
    border-bottom: 1px solid #e1e1e1;
}

.s__accout_content table tr:hover td {
    background-color: #302b47;
    color: #fff;
}

.s__accout_content table tr.nohover:hover td {
    background-color: #f5f5f5;
    color: #272727;
}

.s__accout_content table tr td {
    padding: 13px 10px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
}

.s__accout_content table tr td.inheader {
    padding: 18px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background-color: #272727;
}

.s__accout_content table tr th {
    padding: 13px 10px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #e1e1e1;
}

.s__accout_content table a:hover {
    color: #272727;
}

.s__accout_content .right_sidebar .pro_sidebar_title {
    margin-bottom: 18px !important;
}

.s__accout_content .right_sidebar ul li a.active {
    color: #302b47;
    font-weight: 900;
}

.s__accout_content .punchline_text_box {
    width: 100%;
    float: left;
    padding: 25px 30px;
    margin: 0 0 30px 0;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE #EEE #EEE #302b47;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #999;
}

.s__accout_content .punchline_text_box .left a {
    color: #302b47;
    font-weight: 600;
}

.s__accout_content .punchline_text_box .left a:hover {
    color: #161616;
}

.s__accout_content .punchline_text_box .knowmore_but {
    color: #fff;
}

.s__accout_content .sky-form .radio i {
    width: 16px;
    height: 16px;
}

.s__accout_content .sky-form .radio input+i:after {
    content: '';
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.s__accout_content .sky-form .button {
    height: 52px;
}

.s__accout_content select {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 39px;
    padding: 8px 18px 8px 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    font: 12px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: #fff url(../images/s__select-1.png) no-repeat center right 5px !important;
    cursor: pointer;

}

.s__small-1 {
    font-size: 0.8em;
}

.s__small-2 {
    font-size: 0.6em;
}

.s__valign-middle,
.s__valign-middle * {
    vertical-align: middle !important;
}

.s_br {
    padding: 5px;
}

.s_br_1 {
    padding: 10px;
}

.s_br_2 {
    padding: 20px;
}

.s_br_3 {
    padding: 30px;
}

.s_br_4 {
    padding: 40px;
}

.s__deposit_amform h4 {
    margin-bottom: 12px;
}

.s__deposit_amform .s__label_block {
    float: left;
    width: 100%;
    padding: 4px;
}

.s__tcenter {
    text-align: center !important;
}

.s__tleft {
    text-align: left !important;
}

.s__tright {
    text-align: right !important;
}

.s__pcenter {
    margin: 0 auto !important;
    float: none !important;
}

.s__pleft {
    float: left !important;
}

.s__pright {
    float: right !important;
}

.s__confdep input {
    float: left;
    height: 52px;
    overflow: hidden;
    margin: 0px 0 0 0px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #302b47;
    padding: 7px 60px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.s__confdep input:hover {
    background-color: #161616;
    color: #fff;
}

.s__confdep input[type="button"] {
    background-color: #b3b3b3;
    margin-left: 10px;
}

.s__confdep .fright input[type="button"] {
    margin-left: 0;
    margin-right: 10px;
}

.s__highlit {
    padding: 0 6px;
}

.s__pagenation_bottom {
    margin: 20px 0;
    width: 100%;
    float: none;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    height: auto;
}

.s__pagenation_bottom ul {
    float: right;
}

.s__pagenation_bottom li {
    float: left;
}

.s__accout_content .s__pagenation_bottom li a {

    margin: 15px 0 15px 5px !important;
}

.s__pagenation_bottom li.active a {
    background-color: #302b47;
    color: #fff;
}

.s__pagenation_bottom li a.prev,
.s__pagenation_bottom li a.next {
    color: #302b47;
    font-weight: 900;
}

.s__themes {
    position: fixed;
    width: 46px;
    height: 80px;
    top: 200px;
    left: 0;
    z-index: 999;
}

.s__themes>a {
    position: relative;
}

.s__themes>a,
.s__themes>a>span {
    display: block;
    width: 46px;
    height: 38px;
}

.s__themes>a.s__themes_a1 {
    margin: 0 0 4px 0;
}

.s__themes>a>span {
    background: #fff;
    color: #323232;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    text-align: center;

}

.s__themes>a>span>i {
    line-height: 38px;
    font-size: 20px;
}

.s__themes>a.active {
    left: -6px;
}

.s__themes>a.active>span {
    background: #535353;
    color: #fff;
}

.s__themes>a.s__themes_a1.active>span {
    background: #302b47;
}

#trueHeader .logo {
    z-index: 99999;
    position: relative;
}

.s__language {

    padding-left: 6px;
    padding-right: 18px;
    appearance: normal;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: #302b47 url(../images/s__select-2.png) no-repeat center right 5px !important;
    cursor: pointer;
}

.s__reflinkpage {}

.s__reflinkpage ul,
.s__reflinkpage .tabs-content {
    width: 100%;
}

.s__reflinkpage ul li {
    width: 25%;
    float: left;
}

.s__reflinkpage img {
    max-width: 100%;
    height: auto;

    border: 1px solid #E4E4E4;
}

body {
    background: #E0E0E0;
}

.s__site_wrapper {
    max-width: 1920px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
    margin: 0 auto;
}

.s__footer1.s__footer1-1,
.s__footer_payment_types {
    float: none;
}

.login_form {
    width: 100%;
    max-width: 560px;
}

.reg_form {
    width: 100%;
    max-width: 630px;
}

@media only screen and (min-width: 480px) and (max-width: 999px) {

    .s__top_nav .left,
    .s__top_nav .right {
        width: 100%;
        float: none;
        overflow: hidden;
        text-align: center;
    }

    .s__top_nav .left>a,
    .s__top_nav .left>span,
    .s__top_nav .right>a,
    .s__top_nav .right>div {
        float: none !important;
        display: inline-block;
    }

    .s__top_nav .right {
        margin-bottom: 6px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #trueHeader .logo {
        background: #fff;
    }

    #trueHeader #logo {
        width: 124px;
        float: none;
        display: inline-block;
    }

}

@media only screen and (max-width: 999px) and (min-width: 768px) {
    .section_holder1 .box {
        width: 100%;
    }

    .s__accountnav {
        margin-bottom: 40px;
    }

    .s__section_holder3 .left,
    .s__section_holder3 .right {
        width: 100%;
    }

    .s__section_holder3 .flexslider .slides {
        width: auto !important;
        text-align: center;
    }

    .s__section_holder3 .flexslider .slides>li {
        width: auto !important;
        margin: 0 auto;
        float: none !important;
        overflow: hidden;
        display: inline-block !important;
    }

    .s__section_holder3 .flexslider .slides>li>div:last-child {
        margin-right: 0 important;
    }

    .s__section_holder3 .s__section_holder3_amount {
        padding-right: 10px;
    }

    .s__section_holder3 .right .shape {
        width: 450px !important;
        bottom: -1px;
        left: calc(50% - 225px) !important;
        top: auto !important;
    }

    .s__section_holder3 .right img {
        width: 450px !important;
        margin: 18px auto 0 auto;
        float: none;
        display: block;
    }
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .s__section_holder3 .right .img_holder {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .s__section_holder3 .right .shape {
        width: 450px !important;
        bottom: -1px;
        left: calc(50% - 225px) !important;
        top: auto !important;
    }

    .s__section_holder3 .right img {
        width: 450px !important;
        margin: 18px auto 0 auto;
        float: none;
        display: block;
    }

    .s__section_holder3 .flexslider .slides>li {
        text-align: center;
    }

    .s__section_holder3 .flexslider .slides>li>div {
        display: inline-block !important;
        float: none;
    }

    .s__section_holder3 .flexslider .slides>li>div:last-child {
        margin-right: 0 important;
    }
}

.s__w3tgsdbnr {
    margin-left: -20px;
    margin-right: -20px;
}

.s__faqpage .tabs li a:hover {
    color: #fff;
    background-color: #535353;
}

.s__faqpage .tabs li.active a {
    color: #fff;
    background-color: #302b47;
}

.scrollup {
    display: none !important
}