/* root{
--primary-color: linear-gradient(to left, #302b48, #264A9D);
} */

body{
background-color: black;
margin: 0px;
font-size: 100%;
width: 100%;
overflow-x: hidden;
}

.navbar{
    background:  black;
        border-bottom: 1px solid #ffc107;
        padding: 0px;
}

.navbar-brand{
    color: #a3a2a2 !important;
    font-size: 200%;
    /* text-shadow: 0px 1px 2px black; */
    position: relative;
    left: 15vh;
}

.navbar .fa-bitcoin{
    color: #ffc107;
    transform: rotate(0deg);
    font-size: 80%;
}
.nav-link{
    color: white !important;
    font-size: 100%;

}
.nav-link:hover{
    color: #ffc107 !important;

}
.nav-item{
    min-width: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted white; */
    transition: border 1s;
}

.nav-item:hover{
    border-radius: 4px;
    border: 1px solid #ffc107;
}

.s1{
    /* border: 1px solid red; */
    height: 80vh;
    background-image: url("../images/5b1b0730a27fc006d1733708467527351.jpg")!important;
    background-position: right;
    background-size:100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.s1-inner{
    width: 60%;
}

.inner-title{
    color: white;
    font-size: 280%;
    margin-bottom: 3px;
}
.inner-small{
    color: white !important;
    font-size: 180%;
    margin-bottom: 3px;
}
.inner-text{
    color: white !important;
    font-family: sans-serif;
    width: 100%;
    text-shadow: 2px 2px 1px black;
}
.get-started-1{
    color: white;
    background: transparent;
    width: 20vh;
    height: 6.5vh;
    border: 2px solid #ffc107;
    margin-right: 2%;
}

.get-started{
    color: black;
    background: #ffc107;
    width: 30vh;
    height: 6.5vh;
    border: none;
}
.get-started-top{
    color: black;
    background: #ffc107;
    /* width: 30vh; */
    /* height: 6.5vh; */
    border: none;
}

.get-started:hover, .get-started-1:hover, .get-started-top:hover{
    background: linear-gradient(to right, #ffc107, black);
    border: none;
}
/* .s2-super{

    border: 1px solid red;
} */

.s2{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
}

.s2 hr{
    padding: 2px;
    width: 7vh;
    margin-bottom: 0px;
    background: linear-gradient(to left, #ffc107, black);
}

.s2-title{
    color: white;
    font-size: 300%;
}
.strip{
    color: #ffc107!important;
    font-weight: bold;
}
.s2-texts{
    color: white;
    font-size: 105%;
    margin-bottom: -2px;
}

.work-flex{
    background: #4f2e8d;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    display: none;

}
.work-flex-cons{
    margin: 0px 2vh 0px 2vh;
    height: auto;
    padding:20px 0px 10px 0px;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

.icon-base{
    /* border: 3px dotted black !important; */
    border-left: 2px solid #17a0b3;
    border-top: 2px solid #3d558f;
    border-right: 2px solid #5353d3;
    border-bottom: 2px solid #3a2b8f;
    background: transparent;
    padding: 2.5vh;
}


.work-flex-title{
    color: white;
    font-size: 110%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
    text-align: center;
}

.work-flex-text{
    color: dimgray;
}

.slide-con{
    height: 50vh;
    width: 75vh;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
}

.flexers-double{
    display: none;
}

.flexers{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-text-con{
    width: 45%;
    /* border: 1px solid red; */
    /* padding: 0px; */
    margin-bottom: 0px;
}

.flexers-title{
    color: white;
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.flexers-title{
    color: white;
    font-family: sans-serif;
    font-size: 150%;
    font-weight: bold;
}
.flexers-text{
    color: white;
}

.flexers-img-con{
    height: 40vh;
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.copy-box{
animation: jingle 2s ease-out 0s infinite;
}

@keyframes jingle

{
    0% { transform: translateY(-10px); }
    50% { transform: translateY(20px);
    text-shadow: none; }
    100% { transform: translateY(-10px) }

}

.bit-box{
animation: rotate 3.5s ease-out 0s infinite;
}
@keyframes rotate {

     0% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(180deg);
    text-shadow: none; }
    100% { transform: rotateZ(360deg) }
}

.cam-box{
animation: zoom 2s ease-out 0s infinite;
}
@keyframes zoom {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(20px);
    text-shadow: none; }
    100% { transform: translateX(-10px) }

}


.check-box{
animation: shake 1.5s ease-out 0s infinite;
}

@keyframes shake {
      0% { transform: rotateZ(20deg); }
    50% { transform: rotateZ(-20deg);
    text-shadow: none; }
    100% { transform: rotateZ(20deg) }

}

/*  */

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 1000%;
}

.h-line{
    padding: 0px;
    height: 4px;
    margin-bottom: 20px !important;
    background: linear-gradient(to left, #ffc107, black);
}

/* invest */


.s2-trade{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
}

.invest-s1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
/*
.invest-s1 hr{
    padding: 2px;
    width: 12vh;
    background: linear-gradient(to left, #3a2b8f,#5353d3, #17a0b3);
} */



.invest-s1 form{
    width: 45%;
    /* border: 1px solid red !important; */
}

.invest-s1-title{
    color: black;
    font-size: 300%;
}

.invest-s1-texts{
    font-size: 105%;
    margin-bottom: -2px;
}

.work-flex{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}
.work-flex-cons{
    background: black !important;
    margin: 0px 2vh 0px 2vh;
    height:auto;
    width: 40vh;
    border: 2px solid #ffc107;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    /* animation: bounce 3.5s ease-out 0s infinite; */
}


@keyframes bounce {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(20px);
    text-shadow: none; }
    100% { transform: translateX(-10px) }
}
.icon-base{
    /* border: 3px dotted black !important; */
    border: 1px solid black;
    background: transparent;
    padding: 5vh;
}

.icon-base .fa-bitcoin{
    color: #ffc107;
    font-size: 600%;
    animation: rotate 5.5s ease-out 0s infinite;
}
.work-flex-percent{
    font-family: tahoma;
    color: #ffc107;
    font-size: 250%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
}


.work-flex-title{
    color: white;
    font-size: 140%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -3px;
}

.work-flex-text{
    color: white;
    text-align: center;
    width: 70%;
}

.learning-con-super{
    background: white !important;
    /* border: 1px solid #ffc107; */
    /* height: 350px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 1px 5px 50px #ffc107; */
}
.learning-con{
    width: 60%;
}
.learning-title{
    font-weight: bold;
    font-size: 150%;
}

.learning-con-img{
    width: 350px;
}

/* testimony */
.testimony-super{
    background: transparent;
    border: 1px solid #ffc107;
    padding: 15px;
    display: flex;
    justify-content:space-between;
}

.testimony-con{
    background: transparent !important;
    width: 49%;
    padding: 3px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.testimony-con .lead{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 12px;
}

.withdraw-con .lead{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 12px;
}

.testimony-con .list-group{
    background: transparent !important;
}

.testimony-con .list-group-item{
    color: white;
    background: transparent !important;
}

.testimony-con .list-group-item .badge{
    background: green !important;
    font-size: 120%;
}
.withdraw-con{
    border-left: 1px solid #ffc107;
}

.withdraw-list  .list-group-item .badge{
    background: red !important;
    font-size: 110%;
}


.talk-super{
    background: transparent;
    /* border-top: 1px dashed #ffc107; */
    padding: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 0px;
}

.talk-super .lead{
    font-size: 300%;
}

.talk-con{
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
    margin-left: 5%;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    padding: 0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 140%;
margin:0px;
}


.warn-super{
    /* display: flex; */
    /* justify-content: center; */
    background: transparent;
}

.warn-super .warn-inner{
    width: 50vh;
    background: white;
}

.inst-higher{

    background: transparent;
    display: flex;
    justify-content: center;
}
.inst-super{
    width: 80%;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.inst-super .inst-cons{
    width: 50%;
    /* margin: 0; */
    padding: 20px;
}

 .inst-cons small{
     font-size: 90%;
}


.inst-cons-accept{
    width: 30%;
    height:90px;
    padding: 0px;
    background-image: url("../images/IMG-20200605-WA0002.jpg") !important;
    background-position:center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.options-con ul{
    width: 70%;
}


.options-con ul li{
    background: transparent;
    border: 1px solid #ffc107;
    margin-bottom: 15px;
}

#wallie{
    font-size: 85%;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    word-wrap: break-word;
}

.form-around{
    background: transparent;
    display: flex;
    justify-content: center;
}

.form-around-inner{
    background:transparent;
    border: 1px solid #ffc107;
    width: 75%;
}

.form-around-inner label{
    color: #ffc107;
}

.form-around-inner .btn{
    width: 40vh;
    height: 50px;
    font-weight: bold;
}


/* about */
.about-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-img-con{
    width: 30%;
    height: 50vh;
    background-image: url("../images/n6.jpg") !important;
    background-position:center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.about-text-con{
    width: 60%;
}

.about-lead{
    color: #ffc107;
    font-weight: bold;
    font-size: 150%;
}

.about-texts{
    background-color: #ffc107;
    padding: 2%;
    border-radius: 4px;
    font-size: 105%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.map-con{
    background: black;
    height: 50vh;
    width: 100%;
    border: 1px solid red;
    margin-bottom: 0px !important;
}

.about-flex-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-flex-2 .list-group{
    width: 100%;
}

.about-flex-2 .list-group-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    margin-bottom: 3px;
    background: #ffc107;
    cursor: pointer;
    transform: height 3s;
}

.list-row-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.faq-texts{
    display: none;
}
.about-flex-2 .list-group-item:hover{
    color: white;
    background: #c7a02d;
}

.about-flex-2 .about-text-con{
    width: 80%;
    padding: 20px;
    border: 1px solid black;
}


/* reg */
label{
    color: #ffc107;
}

.reg-s1{

    background-image: url("../images/5b1b0730a27fc006d1733708467527351.jpg")!important;
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        /* border: 1px solid red; */
        /* border-bottom: 1px solid lightgray; */
        background-size: 70%;
    }
 .termsUL{
     /* border:1px solid red; */
     padding: 0px;
 }

    .termsUL li{
        color:white;
    }


    /* dashboard */

.dummy-everything{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
}

.dummy-name, .dummy-mail{
    color: #ffc107;
    font-weight:normal;
    background-color: black;
    padding: 5px;
    margin: 0px !important;
    border-radius: 4px 16px 16px 4px;
}

<<<<<<< HEAD
a.logout{
    text-decoration: none;
}
    
=======
>>>>>>> e4e33c76fa1e2a68c9cef1feaa5129e648069639
    .dp-dummy{
        color: white;
        font-size: 100%;
        margin: 0;
    }

    .hour-read{
        font-size: 300%;
        font-weight: bold;
    }

    .minute-read{
        font-size: 250%;
        font-weight: bold;
    }

    .seconds-read{
        font-size: 200%;
        font-weight: bold;
    }

    .dash-con{
/*
    background-image: url("/images/5b1b0730a27fc006d1733708467527351.jpg") !important;
    background-position: center;
    background: fixed;
    background-size:100%;
    background-repeat: no-repeat; */
        height:auto;
        padding: 0px;
    }

    .info-con{
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid red; */
    }

    .money-con{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }

    .beware{
        background-color: rgba(0, 0, 0, 0.308);
        border-radius: 4px;
        width: 20%;
    }
    .cash-cons{
        background: transparent !important;
        border: 2px solid #ffc107;
        width: 40vh;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

     .cash-cons .title-con{
        width: 100%;
    }

    .capital{
        color: white;
        font-size: 160%;
        /* font-weight: bold; */
    }


    .profit, .ref-bonus{
        color: #ffc107;
        font-size: 160%;
        text-shadow: 1px 2px 2px black;
        /* font-weight: bold; */
    }

    .ref-bonus{
        color: red;
    }

    .dash-btn-flex{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
    }
    .dash-btn-flex .btn{
        width: 17%;
        height: 6vh;
        margin: 30px 10px 0px 10px;
    }

    .invest-again{
        color: white;
        background-color: transparent !important;
        border: 2px solid #ffc107;
    }

     .invest-again:hover{
         background-color: #e7bb35 !important;
         color: white !important;
         border: none;
     }

     .stat-con{
         display: none !important;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         height: 50vh;
         padding: 0px;
         margin: 0px;
         margin-top: 40px;
         /* border: 1px solid #e7bb35; */
     }

.stat-list{
    width: 70vh;
}
/*
.tradingview-widget-container{
    border: 1px solid red;
} */

.iv-breakdown .active{
    color: black;
    background: #ffc107;
    border: hidden;
}


.iv-breakdown li{
    color: white;
    background: black;
    margin-bottom: 3px;
    border-bottom: 1px solid #ffc107;
    border-radius: 0px !important;
}

.table-sm{
    color: #ffc107;
}

@media screen and (max-width:1024px){

.work-flex{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-flex-cons{
    margin: 0px 1vh 2vh 1vh;
    width: 47%;
}

.icon-base{
    padding: 0vh;
}

.icon-base .fa-bitcoin{
    font-size: 500%;
}
.work-flex-percent{
    font-size: 200%;
}


.work-flex-title{
    font-size: 120%;
}

.work-flex-text{
    width: 80%;
}


.learning-con-super{
    flex-direction: column-reverse;
}


.learning-con{
    width: 100%;
    margin: 0px !important;
}


.learning-img-con{
    width: 100%;
    height: 50vh;
    margin: 0px !important;
    padding: 0px;
}

.learning-con-img{
    width: 100%;
    height:inherit;
}

/* testimony */
.testimony-super{
    background: transparent;
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-con{
    background: transparent !important;
    width: 100%;
    padding: 3px;
    margin-bottom: 30px;
    border-radius: 0px;
    border: 1px solid #ffc107;
}


.talk-super{
    background: transparent;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 140%;
margin:0px;
}



.inst-super{
    width: 100%;
    padding: 0px;
}


.inst-cons{
    width: 60% !important;
    margin-bottom: 20px !important;
}

 .inst-cons small{
     font-size: 100%;
}

#wallie{
    font-size: 95%;
    background-color: white;
}


.form-around-inner{
    background:transparent;
    border: 1px solid #ffc107;
    width: 100%;
}


    .beware{
        width: 50%;
    }


    .dash-btn-flex .btn{
        width: auto;
        height: auto;
        margin: 30px 20px 0px 10px;
    }



.tradingview-widget-container{
    /* border: 1px solid red; */
    width: 60vh;
    overflow-x: auto;
}
}
@media screen and (max-width:768px){
    .navbar-brand{
        left: 15px;
    }
.navbar-toggler{
    background: #ffc107 !important;
    margin-right: 2vh;
}

.nav-link{
    color: white !important;
    font-size: 100%;

}


    #navbarSupportedContent{
    position: fixed;
    background: black;
    right: 2.2vh;
    top: 8.2vh;
    border-radius: 0%;
    border: 1px solid #ffc107;
    /* box-shadow: 3px 3px 4px #ffc107; */
}


    .s1{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgray;
        background-size: 70%;
    }
    .s1-inner{
    width: 100%;
    /* border: 1px solid red; */
    left: 0px;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.btns-con{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.btns-con .btn{
    margin-bottom: 20px;
}



.inner-title{
    text-align: center;
    font-size: 260%;
}
.inner-small{
    text-align: center;
    font-size: 150%;
}

.inner-text{
    text-align: center;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}

.s2-texts{
    color: white;
    font-size: 85%;
    margin-bottom: -2px;
}

.flexers-text-con{
    text-align: center;
    width: 60%;
    /* border: 1px solid red; */
}

.flexers-img-con{
    height: 40vh;
    width: 40%;
    /* border: 1px solid red; */
}

.work-flex{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-flex-cons{
    margin: 0px 0vh 2vh 0vh;
    width: 47%;
}

.learning-con-super{
    flex-direction: column-reverse;
}


.learning-con{
    width: 100%;
    margin: 0px !important;
}


.learning-img-con{
    width: 100%;
    margin: 0px !important;
    padding: 0px;
}

.learning-con-img{
    width: 100%;
}

.talk-super{
    padding: 0px;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 250%;
margin:0px;
}

.figure-text{
font-size: 110%;
margin:0px;
}



.inst-cons{
    width: 60% !important;
    margin-bottom: 20px !important;
}
    .dash-btn-flex .btn{
        width: auto;
        height: auto;
    }


    .money-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* border: 1px solid red; */
    }

    .cash-cons{
        width: 90%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .dash-btn-flex{
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .dash-btn-flex .btn{
        width: auto;
        height: auto;
        margin: 30px 0px 0px 0px;
    }

     .stat-con{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         height: 50vh;
         padding: 0px;
         margin: 0px;
         margin-top: 40px;
         /* border: 1px solid #e7bb35; */
     }

.stat-list{
    width: 90%;
    /* border: 1px solid red; */
}

.stat-con{
    padding: 0px !important;
}

.tradingview-widget-container{
    width: 100%;
    height: auto;
    overflow-x: auto;
}


.iv-breakdown{
    display: none;
    margin-top: 40px;
}

.iv-breakdown li{
    margin-bottom: 3px;
    border-radius: 0px !important;
}


.invest-s1 form{
    width: 65%;
    /* border: 1px solid red !important; */
}

}


@media screen and (max-width:425px){
    .navbar-brand{
        left: 1px;
        font-size: 200%;
    }

    .s1{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgray;
        background-size: 70%;
    }
    .s1-inner{
    width: 100%;
    /* border: 1px solid red; */
    left: 0px;
    position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.inner-title{
    text-align: center;
    font-size: 260%;
}
.inner-small{
    text-align: center;
    font-size: 150%;
}

.inner-text{
    text-align: center;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}
.flexers{
    display: none;
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-double{
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* margin: 0px; */
    /* border: 1px solid red; */
}

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 800%;
}


.flexers-double .flexers-text-con{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
}

.flexers-double .flexers-text{
    text-align: center;
}

.flexers-double .flexers-img-con{
    height: auto;
    width: 10%;
    /* border: 1px solid lightgray; */
    margin: 0px !important;
    padding: 10px !important;
}

.cam-box{
    margin-bottom: 10px;
}

.work-flex{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid red; */
}
.work-flex-cons{
    margin: 0px 0vh 2vh 0vh;
    width: 100%;
}


.testimony-con .list-group-item .badge{
    font-size: 100%;
}

.withdraw-list  .list-group-item .badge{
    font-size: 100%;
}

.talk-super{
    padding: 0px;
}

.talk-super .lead{
    font-size: 200%;
}

.talk-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:0px;
}

.talk-con-inner{
    background: transparent;
    margin:0px;
    padding: 10px;
    width: 103%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figures{
font-size: 180%;
margin:0px;
}

.figure-text{
font-size: 100%;
margin:0px;
}

.inst-super{
    flex-direction: column;
    align-items: center;
}

.inst-super .inst-cons{
    width: 95% !important;
    margin-bottom: 20px;
}

 .inst-cons small{
     font-size: 100%;
}

#wallie{
    font-size: 95%;
    background-color: white;
}


.form-around-inner{
    background:transparent;
    border: 1px solid #ffc107;
    width: 100%;
}


.about-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}


.about-img-con{
    width:100%;
    height: 30vh;
    margin-bottom: 5px;
}
.about-text-con{
    width: 100%;
    text-align: center;
}

.about-lead{
    color: #ffc107;
    font-weight: bold;
    font-size: 130%;
}

.about-texts{
    margin-bottom: 0px;
    font-size: 100%;
}

.beware{
    width: 80%;
}



.invest-s1 form{
    width: 90%;
    /* border: 1px solid red !important; */
}


    .hour-read{
        font-size: 200%;
    }

    .minute-read{
        font-size: 150%;
    }

    .seconds-read{
        font-size: 100%;
    }
}

@media screen and (max-width:375px){
    .s1{
        background-size: 70%;
    }

.inner-title{
    font-size: 220%;
}
.inner-small{
    font-size: 110%;
}

.inner-text{
    font-size: 90%;
    color: black;
    text-shadow: 2px 1px 153px lightgray;
}

.get-started-1, .get-started{
    height: auto;
}

.s2-title{
    font-size: 180%;
}

.flexers{
    /* border: 1px solid red; */
    padding: 0px;
}

.flexers-img-con .fa, .flexers-img-con .fab{
    color: #ffc107;
font-size: 600%;
}

.flexers-title{
    font-size: 130%;
}
.flexers-text-con{
    width: 50%;
    /* border: 1px solid red; */
}

.flexers-img-con{
    height: 40vh;
    width: 50%;
    /* border: 1px solid red; */
}


.learning-img-con{
    height: 25vh;
}
.warn-super .warn-inner{
    width: 100%;
}

.inst-super .inst-cons{
    width: 100%;
    margin-bottom: 15px;
}

.form-around-inner .btn{
    width: 100%;
    height: auto;
}


    .hour-read{
        font-size: 100%;
        font-weight: normal;
    }

    .minute-read{
        font-size: 100%;
        font-weight: normal;
    }

    .seconds-read{
        font-size: 100%;
        font-weight: normal;
    }
}


