body{
background-color: black;
margin: 0px;
font-size: 100%;
width: 100%;
overflow-x: hidden;
}

.navbar{
    background:  black;
        border-bottom: 1px solid #ffc107;
        padding: 0px;
}

.navbar-brand{
    color: #a3a2a2 !important;
    font-size: 200%;
    position: relative;
    left: 5vh;
}

.navbar .fa-bitcoin{
    color: #ffc107;
    transform: rotate(0deg);
    font-size: 80%;
}
.nav-link{
    color: white !important;
    font-size: 100%;

}
.nav-link:hover{
    color: #ffc107 !important;

}
.nav-item{
    min-width: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 1s;
}

.nav-item:hover{
    border-radius: 4px;
    border: 1px solid #ffc107;
}

.container-fluid{
    display: flex;
    justify-content: start;
    width: 100%;
    overflow-x: auto;
}

.side-bar{
    width: 3%;
    height: 100vh;
    display: flex;
    padding: 0px;
    justify-content: center;
    position: fixed;
    z-index: 2;
    /* border-right: 1px solid red; */
}

.side-bar ul{
    padding: 0px;
}

.side-bar ul li{
    background: transparent !important;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.body-bar{
    width:100%;
    height: auto;
    padding: 4px;
    position: relative;
    left:6vh;
    overflow-y: auto;
}


#table-new-con{
    display: none;
}

#edit-detail-con{
    display: none;
}
#withdraw-con{
    display: none;
}


#email-con{
    display: none;
    /*height: 100vh;*/
}


@media screen and (max-width:1024px){
.body-bar{
    left: 4.6vh;
}
}

@media screen and (max-width:768px){

.side-bar{
    width: 6%;
}

.body-bar{
    left: 6.5vh;
}

}



@media screen and (max-width:425px){

    .side-bar{
    width: 40px;
}
    .body-bar{
        left: 5.7vh;
    }
}
